body{
    overflow-x: hidden;
    overflow-y: hidden; 
    border: rgb(15, 15, 14);
    background-color: #5c5a5a;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;   
}
#contain{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30%;

}
#head{
    margin-top: 30%;
    font-size: 50px;
}
#pg{
    text-align: center;
    display:inline-block;
    
    border-radius: 10px;
    background-color: #5c5a5a;
    color: white;
    

     
}
